@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: bold;
  src: local('Gilroy Bold'), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap; 
}@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: local('Gilroy Medium'), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap; 
}
*{
  font-family: 'Gilroy';
}